.hero {
  max-width: 100%;
}

.content {
  padding-inline: 1.5rem;
  color: #161616;
  margin-bottom: 3.5rem;
}

.content h1 {
  line-height: 2.5rem;
}

.cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  margin: 1.5rem;
  border-radius: 5px;
}

.cta h2 {
  margin: 0;
  padding-block: 37px;
}

.cta > a {
  background-color: #161616;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 10px;
}
